@import 'helpers';
.Lineup-container {
  @include clearfix;
  font-size: 13px;
  padding: 15px;
  .players {
    float: left;
    span {
      margin-right: 10px;
      &.footer {
        font-weight: bold;
      }
    }
  }
  .lineup-nav {
    height: 75px;
    line-height: 100px;
    &:first-child {
      float: left;
      margin-left: -10px;
      margin-right: 5px;
    }
    &:last-child {
      float: right;
      margin-right: -10px;
      margin-left: 5px;
    }
    .navigate_before, .navigate_next {
      font-size: 32px !important;
    }
  }
}