@import 'helpers';
body {
  margin: 0;
}
.Main-container {
  position: relative;
  .top {
    z-index: 2;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.36);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.36);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .header {
      @include clearfix;
      width: 100%;
      padding: 8px 4px;
      background-color: #D4EAF2;
      img {
        margin: 2px 0 0 10px;
        float: left;
      }
      .menu {
        margin-right: 15px;
        float: right;
        &:before {
          content: "menu";
        }
      }
    }
    .filters {
      @include clearfix;
      width: 100%;
      padding: 8px 4px;
      background-color: #D4EAF2;
      input {
        float: left;
        margin: 0;
      }
    }
  }
  .middle {
    z-index: 1;
    position: relative;
    top: 78px;
  }
}