.Players-container {
  .lock_outline:before {
    content: "lock_outline";
  }
  .not_interested:before {
    content: "not_interested"
  }
  .clear_all:before {
    content: "clear_all"
  }
  .home:before {
    content: "home"
  }
  .pets:before {
    content: "pets"
  }
  .work:before {
    content: "work"
  }
  .favorite:before {
    content: "favorite"
  }
  .star_rate:before {
    content: "star_rate"
  }
  tr {
    &.fade {
      color: #d43f3a !important;
    }
    &.lock {
      color: #4cae4c !important;
    }
  }
}