@import 'helpers';
.Positions-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  @include clearfix;
  li {
    float: left;
    button {
      min-width: 62px !important;
      color: rgba(0,0,0,0.3) !important;
    }
    &.active {
      button {
        color: rgba(0,0,0,0.87) !important;
      }
    }
  }
}